<div class="cl1">
  <div>
    <div>
      <div>
        <h1>
          Bienvenido! Inicie sesi칩n
        </h1>
      </div>
      <div>
        <form action="/auth/signin" method="POST">
          <div class="em">
            <label for="email">Email:</label>
            <input
              type="email"
              class="in"
              name="email"
              placeholder="Email"
              autofocus
            </input>
          </div>
          <div class="em">
            <label for="passsword">Contrase침a:</label>
            <input
              type="password"
              class="in"
              name="password"
              placeholder="Contrase침a"
            </input>
          </div>
          <button>
            Iniciar sesi칩n
          </button>
        </form>
      </div>
    </div>
  </div>
</div>